<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Anton|Dancing+Script|Lobster|Pacifico" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <title>Project 2</title>
</head>

<body id="body">
  <div class="container-fluid" style="background: lightblue">
    <div id="header">
      <div class="row">
        <div class="col pt-3">
          <h1 id="header-font" class="text-center">Reptile Chuckers Financial inc.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <header class="d-flex justify-content-center">
            <nav class="navbar navbar-light navbar-expand">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link h5" onclick="navFunction()" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link h5" href="/register">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link h5" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link h5" href="/profile">Profile</a>
                </li>
              </ul>
            </nav>
          </header>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 3px; background: rgb(115, 187, 255)"></div>
  {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>