<div class="container text-center p-3">
    <div class="row">
        <div class="col">
            <div class="bg-light d-inline-block border rounded p-4">
                <h1>Welcome to the Reptile Chuckers website!</h1>
                <h5 class="mb-3">We are here to make your finances easier to manage.</h5>
                <img id="home-elephant" class="img-fluid border rounded mx-auto d-block" src="./images/mascot.jpg">
            </div>
        </div>
    </div>

</div>