<div class="container">
    <h1>Welcome to the Reptile Chuckers website</h1>
    <h5>We are here to make your finances easier to manage</h5>
    <img id="home-elephant" src="https://i.dailymail.co.uk/i/pix/2010/07/14/article-1294600-0A6F867D000005DC-35_634x691.jpg">
    <p>Lorem ipsum dolor sit amet, copiosae fabellas interesset ius ad. Ex qualisque cotidieque nec, et eum quando labore. Vim
        ut iudico persius quaerendum, omnes bonorum scaevola ad pri, in dicit voluptua delectus mei. Te dicam volutpat suscipiantur
        nec, elit hendrerit adversarium quo ne, integre pertinacia interesset nam ut. Duo posse necessitatibus in. Sed et
        nihil aperiam, te eripuit repudiare delicatissimi sed, inani scaevola salutatus at pri. Atqui omittam ius ad, te
        nec magna omnis prima. Vis quando referrentur ea, ad his graeco commune indoctum. Id solum dicta perpetua pro, vis
        mazim utinam nemore cu. Sea et sumo vidisse accusamus, vis id hinc illud fastidii. Solet concludaturque no vis, libris
        invidunt incorrupte has cu. Fugit salutandi nec ad, per illum vocibus accusamus at, usu primis fuisset ut. Qui id
        meliore reprimique dissentias, sed te porro mandamus. Dicat inani in est, ex per dicit qualisque percipitur. Mei
        ad eros tibique. Duo quas audiam deserunt te. Has ne error blandit aliquando, id has mutat inimicus evertitur. Zril
        mentitum efficiendi ius eu, eu per vocent expetendis, ne eirmod aperiam expetenda sea. Te ferri omnes vim, an mel
        partem recusabo senserit. Per ne assum ponderum, altera senserit in eum. Duo no essent reprimique, vis in accusata
        definiebas. Ut magna utroque dolorem mel, cibo alienum eam no. Dolore impetus mediocritatem ut vel, nullam delicata
        definitiones eam ei. Mea eu odio malis dicant, elitr solet id est, dicit similique disputando vis id. Sea ei novum
        iriure conceptam, ius fuisset salutandi gubergren eu. Solet melius tritani id ius. Ad has idque omnesque, sea ex
        doctus invidunt. Eum at amet sensibus, minim posidonium ex has, sed ad elitr melius audiam. Mutat vocibus cum no,
        pro natum iriure voluptatum cu. An vix epicuri oporteat.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</div>