<div class="container text-center p-3">
    <div class="row">
        <div class="col">
            <h1>Welcome to the Reptile Chuckers website!</h1>
            <h5 class="mb-3">We are here to make your finances easier to manage.</h5>
            <img id="home-elephant" class="rounded mx-auto d-block" src="./images/mascot.jpg">
        </div>
    </div>

</div>