<div>
  <div class="container text-center">
    <div class="d-inline-block border rounded bg-light m-3 p-3">
      <div class="row">
        <div class="col my-3">
          <h3>Login</h3>
        </div>
      </div>
      <div class="row">
        <div class="col m3-5">
          <form>
            <div>
              <input class="form-control" style="width: 400px" id="email" type="email" placeholder="Email">
            </div>
            <div class="mt-2">
              <input class="form-control" style="width: 400px" id="password" type="password" placeholder="Password">
            </div>
            <button class="btn btn-primary mt-3" id="submit-login">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    $("#submit-login").on("click", function (e) {
      e.preventDefault();
      axios.post("/auth/login", {
        email: $("#email").val(),
        password: $("#password").val(),
      })
        .then(function (resp) {
          console.log(resp)
          window.localStorage.setItem("token", resp.data.token)
          window.location.assign("/profile");
        })
        .catch(function (err) {
          console.error(err);
        })
    })
  </script>
  <script>
    $('.nav-link').removeClass('active');
    var navItem = 'Login';
    $(`.nav-link:contains('${navItem}')`).addClass('active');
  </script>
</div>