<div class="container">
  <h1>Login</h1>
  <div class="row">
    <div class="col-md-8">
      <form>
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="name" class="form-control" id="inputName" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <button class="btn btn-primary plaid-link-button">Login</button>
      </form>
      <br>
      <img id="login-chucker" src="https://i.dailymail.co.uk/i/pix/2010/07/14/article-1294600-0A6F867D000005DC-35_634x691.jpg">
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>