<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome, (user-name), to your Reptile Chucker profile</h1>
            <img id="profile-elephant" src="https://i.dailymail.co.uk/i/pix/2010/07/14/article-1294600-0A6F867D000005DC-35_634x691.jpg">
            <p>Log into your bank account using Plaid</p>
            <button class="btn btn-primary plaid-link-button">Login</button>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>