<div class="container-fluid mt-3 text-center">
    <div class="row">
<<<<<<< HEAD
        <div class="col-md-8">
            <h1>Welcome, (user-name), to your Reptile Chucker profile</h1>
            <p>Log into your bank account using Plaid</p>
            <button class="btn btn-primary plaid-link-button">Login</button>
            <img id="profile-elephant" src="https://i.dailymail.co.uk/i/pix/2010/07/14/article-1294600-0A6F867D000005DC-35_634x691.jpg">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
=======
        <div class="col ">
            <div class="mx-auto border rounded p-3 bg-light mb-3" style="width: fit-content">
                <img id="profile-elephant" style="width: 60px" class="rounded" src="./images/mascot.jpg">
                <h3 class="d-inline ml-1 align-middle">Welcome, (user-name), to your Reptile Chucker profile</h3>
                <p class="mb-0">Log into your bank account using Plaid</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col plaid-info">
            <button class="btn btn-primary plaid-link-button">Login</button>
            <button class="btn btn-primary plaid-accounts d-none">Accounts</button>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="d-inline-block accounts-div">
                            <h4 class="accounts-table-header d-none p-1 border bg-primary text-light">ACCOUNTS</h4>
                            <table class="table table-light table-striped border text-left accounts-table d-none">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th class="text-right">Balance</th>
                                    </tr>
                                </thead>
                                <tbody class="accounts-table-body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary plaid-transaction-history d-none">Transactions</button>
>>>>>>> ea3aae77071e24f9a67bb2ed0b88119e11ec785e
        </div>
    </div>
</div>