<div class="container-fluid mt-3 text-center">
    <div class="row">
        <div class="col ">
            <div class="mx-auto border rounded p-3 bg-light mb-3" style="width: fit-content">
                <img id="profile-elephant" style="width: 60px" class="rounded" src="./images/mascot.jpg">
                <h3 class="d-inline ml-1 align-middle welcome-text"></h3>
                <p class="mb-0">Log into your bank account using Plaid</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col plaid-info">
            <button class="btn btn-primary plaid-link-button">Login</button>
            <button class="btn btn-primary plaid-accounts d-none">Accounts</button>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="d-inline-block accounts-div">
                            <h4 class="accounts-table-header d-none p-1 mb-0 border bg-primary text-light">ACCOUNTS</h4>
                            <table class="table table-light table-striped border text-left accounts-table d-none">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th class="text-right">Balance</th>
                                    </tr>
                                </thead>
                                <tbody class="accounts-table-body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary plaid-transaction-history d-none" id="t-btn">Transactions</button>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="d-inline-block accounts-div">
                            <h4 class="transaction-table-header d-none p-1 mb-0 border bg-primary text-light">TRANSACTIONS</h4>
                            <table class="table table-light table-striped border text-left transaction-table d-none">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th class="text-right">Amount</th>
                                    </tr>
                                </thead>
                                <tbody class="transaction-table-body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary plaid-income-button d-none">Income</button>
        </div>
    </div>
    <script>

        function parseJwt(token) {
            var base64Url = token.split('.')[1];
            var base64 = base64Url.replace('-', '+').replace('_', '/');
            return JSON.parse(window.atob(base64));
        };

        $(document).ready(function () {
            var token = localStorage.getItem('token');
            if (token) {
                var tokenObj = parseJwt(localStorage.getItem("token"));
                console.log(tokenObj)
            }

            $('.welcome-text').html(`Welcome, ${tokenObj.name}, to your Reptile Chucker profile`)
            var handler = Plaid.create({
                apiVersion: 'v2',
                clientName: 'Plaid Walkthrough Demo',
                env: 'sandbox',
                product: ['transactions'],
                key: "27a73558666b246bae92220f4cd360",
                onSuccess: function (public_token) {
                    axios({
                        method: 'post',
                        url: '/api/public-token',
                        headers: {
                            "Authorization": "Bearer " + token
                        },
                        data: {
                            publicToken: public_token
                        }
                    })
                        .then(function (res) {
                            console.log(res);
                            $('.plaid-accounts').removeClass('d-none');
                            $('.plaid-transaction-history').removeClass('d-none');
                            $('.plaid-income-button').removeClass('d-none');
                        })
                        .catch(function (err) {
                            console.log(err);
                        });
                },
            });

            $('.plaid-link-button').on('click', function () {
                $('.plaid-link-button').remove();
                handler.open();
            })

            //account button click to get account balances
            $('.plaid-accounts').on('click', function () {
                //remove button
                $(this).remove();
                //show loading
                $('.plaid-info').prepend('<h5 class="loading">Loading...</h5>')
                //axios get to plaid api route
                axios({
                    method: 'get',
                    url: '/api/accounts',
                    headers: {
                        "Authorization": "Bearer " + token
                    }
                })
                    .then(function (res) {
                        //add each account to table
                        res.data.accounts.forEach(function (elem, index) {
                            var tableRow = $('<tr></tr>');
                            $('.accounts-table-body').append(tableRow);
                            tableRow.append(`<th>${index + 1}</th>`);
                            tableRow.append(`<td>${elem.name}</td>`);
                            tableRow.append(`<td class="text-right">${accounting.formatMoney(Number(elem.balances.available))}</td>`);
                        })
                        //remove loading button
                        $('.loading').remove();
                        //show the table
                        $('.accounts-table-header').removeClass('d-none');
                        $('.accounts-table').removeClass('d-none');
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            })
            //**CLICK EVENT MAKING AXIOS CALL TO GET PAST TRANSACTION DATA FROM /API/TRANSACTIONS ROUTE*/
            $('.plaid-transaction-history').on('click', function () {
                axios({
                    method: 'get',
                    url: '/api/transactions',
                    headers: {
                        "Authorization": "Bearer " + token
                    }
                })
                    .then(function (resp) {
                        resp.data.transactions.forEach(function (element) {
                            var categoryString = element.category.join(" - ")
                            var transTableRow = $('<tr></tr>')
                            $('.transaction-table-body').append(transTableRow);
                            transTableRow.append(`<td>${element.date}</td>`);
                            transTableRow.append(`<td>${categoryString}</td>`);
                            transTableRow.append(`<td class="text-right">${accounting.formatMoney(Number(element.amount))}</td>`);
                        })
                        $('.transaction-table-header').removeClass('d-none');
                        $('.transaction-table').removeClass('d-none');
                        $('#t-btn').remove();
                    })
                    .catch(function (error) {
                        console.error(error)
                    })
            });
            $(".plaid-income-button").on("click", function () {
                axios({
                    method: 'get',
                    url: '/api/transactions',
                    headers: {
                        "Authorization": "Bearer " + token
                    }
                })
                    .then(function (resp) {
                        console.log(resp);
                        var totalIncome = 0;
                        var totalExpense = 0;
                        var netIncome = 0;
                        //Create a for loop to add together the total expenses
                        for (var i = 0; i < resp.data.transactions.length; i++) {
                            console.log(resp.data.transactions[i].amount);
                            if (Number(resp.data.transactions[i].amount) < 0) {
                                totalExpense += Number(resp.data.transactions[i].amount);
                            } else {
                                totalIncome += Number(resp.data.transactions[i].amount);
                            }
                        }
                        netIncome = totalIncome + totalExpense;
                        $(".plaid-income-button").after(`<h3>Your net income: $${netIncome}</h3>`)
                    }).catch(function (err) {
                        console.error(err)
                    })
            })
        });
        $('.nav-link').removeClass('active');
        var navItem = 'Profile';
        $(`.nav-link:contains('${navItem}')`).addClass('active');
    </script>
</div>