<div>
  <div class="container text-center">
    <div class="row">
      <div class="col my-3">
        <h3>Register</h3>
      </div>
    </div>
    <div class="row">
      <div class="col m3-5">
        <form>
          <label>Email</label>
          <input id="email" type="email">
          <label>Password</label>
          <input id="password" type="password">
          <button id="submit-register">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <script>
    $("#submit-register").on("click", function (e) {
      e.preventDefault();
      axios.post("/auth/register", {
        email: $("#email").val(),
        password: $("#password").val(),
        name: $("#name").val(),
      })
        .then(function (resp) {
          console.log(resp)
          window.location.assign("/login");
        })
        .catch(function (err) {
          console.error(err);
        })
    })
  </script>
</div>