#body {
    background-color: rgb(255, 255, 133);
    font-family: 'PT Serif', serif;
}

#header-font {
    font-family: 'Lobster', cursive;
    color: rgb(179, 115, 19);
}

.footer-font {
    font-family: 'Lobster', cursive;
    color: rgb(179, 115, 19);
}

#footer {
    background-color: lightblue;
}

#home-elephant {
    opacity: 0.8;
}

#profile-elephant {
    opacity: 0.4;
    height: 30%;
    width: 30%;
}